@font-face {
    font-family: atma;
    src: url("/WD4E/CSS3_Module_Two/fonts/Atma/Atma-Bold.ttf");
    src: url("/WD4E/CSS3_Module_Two/fonts/Atma/Atma-Light.ttf");
    src: url("/WD4E/CSS3_Module_Two/fonts/Atma/Atma-Regular.ttf");
    src: url("/WD4E/CSS3_Module_Two/fonts/Atma/Atma-Medium.ttf");
    src: url("/WD4E/CSS3_Module_Two/fonts/Atma/Atma-SemiBold.ttf");
}

.skip {
    display: none;
}

body {
    font-family: atma;
    color: purple;
}

p:hover, h1:hover {
    color: pink;
}

img:hover {
    border: 5px solid pink;;
}

ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

nav {
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
}

main {
    text-align: justify;
    align-items: center;
    width: 25vw;
    margin: auto;
    column-gap: 2.5vw;
}

main img {
    vertical-align: middle;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

footer {
    position: fixed;
    bottom: 2.5%;
    left: 2.5%;
}

