@font-face {
    font-family: playwrite;
    src: url(../fonts/Playwrite_IN/PlaywriteIN-VariableFont_wght.ttf);
}

body{
    font-family: monospace;
    font-size: 1rem;
    justify-content: center;
    background-color: rgb(84, 57, 131);
    color: wheat;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

nav {
    font-size: 1.5rem;
    background-color: rgb(84, 57, 131);
}

h1 {
    font-family: playwrite;
    font-size: 3.5rem;
    text-align: center;
    color: wheat;
}

header img {
    border-radius: 25%;
    margin: auto;
    border: 1px solid black;
    align-items: center;
    display: flex;
    margin-top: 5rem;
}

li {
    display: inline;
    width: 15vw;
}

 header {
    display: flex;
    flex-direction: column;
    background-color: rgb(84, 57, 131);
 }

 main {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    width: 60vw;
    font-size: 1.5rem;;
    background-color: rgb(84, 57, 131);
 }
 
 footer {
    position: fixed;
    bottom: 5px;
    background-color: wheat;
    color: rgb(84, 57, 131);
    width: 100vw;
 }

 main img {
    vertical-align: middle;
 }

 p {
    line-height: 2.5vh;
 }